<!DOCTYPE html>
<html lang="{{ content["content"]["lang"] }}">
<head>
  {{ inline_block["core_header_block"] | safe | indent }}
</head>
<body>
  {{ inline_block["site_top_panel_block"] | safe | indent }}
  {{ inline_block["hero_block"] | safe | indent }}
  {{ inline_block["hero2_block"] | safe | indent }}
  {{ inline_block["accordion_container"] | safe | indent }}
  {{ inline_block["contacts_block"] | safe | indent }}
  {{ inline_block["contact_fab_block"] | safe | indent }}
  {{ inline_block["site_footer_block"] | safe | indent }}
</body>
</html>

