:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
    color: #0b1220;
    margin: 0;
    box-sizing: border-box;
}


.main_block {
/* 'main_block' is reserved for JS !!! */
    max-width: 560px;
    padding: 0 16px;
    background: #fff;
    margin: 50px auto 0;
}
