<section class="hero_txt1_block-main">
  <h1 class="hero_txt1_block-lead">
    {{ content['content']['title'] }}
  </h1>
  <p class="hero_txt1_block-text">
    {{ content['content']['text'] }}
  </p>
</section>
