{#
@json_contract
top_bar:
  brand: string !required
  current: string !required
  languages:
    - code: string !required
      href: string !required
      flag: string !required
#}

  <div class="top_bar">
    <div class="site-header">
  
      <div class="logo-block">
        <img src="sources/logo_vector.svg"
             alt="{{ content['top_bar']['brand'] }}"
             class="site-logo">
        <span class="logo-text">
          {{ content['top_bar']['brand']  }}
        </span>
      </div>
  
      <div class="lang-switch">
        <button class="lang-btn" type="button">
          {%- for lang in content['top_bar']['languages'] %}
            {%- if lang.code == content['top_bar']['current'] %}
              <span class="flag-icon">
                <img src="sources/{{ lang.flag }}"
                     alt="{{ lang.code | upper }}"
                     width="24" height="16">
              </span>
            {%- endif %}
          {%- endfor %}
          <span class="chevron">&#9662;</span>
        </button>
  
        <ul class="lang-menu">
          {%- for lang in content['top_bar']['languages'] %}
            <li>
              <a href="{{ lang.href }}">
                <span class="flag-icon">
                  <img src="sources/{{ lang.flag }}"
                       alt="{{ lang.code | upper }}"
                       width="24" height="16">
                </span>
              </a>
            </li>
          {%- endfor %}
        </ul>
      </div>
  
    </div>
  </div>

